extends ../layouts/common
block content 
  .col-md-5.mt-3
    h1 create product 
    form(action=`/products/create/?_csrf=${csrfToken}` enctype="multipart/form-data"  method='post')
      .form-group
        label(for='title') title:
        input#title.form-control(type='text', name="title", placeholder='Enter title')
      .form-group
        label(for='image') image:
        input#pwd.form-control(type='file', name="image" placeholder='Enter image')
      button.btn.btn-primary(type='submit') create
